// Import global styles
@import '../../global-styles.scss';


.user-list-container {
  @include flexbox;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.avatar {
  margin-right: 10px; 
  vertical-align: middle; 
}

.avatar img {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.login {
  padding-left: 10px;
  vertical-align: middle;
  @include text-style;
}

.user-table {
  background-color: $background-color;
  font-family: $primary-font;
}

.user-table th,
.user-table td {
  background-color: #ffffff;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-input {
  margin-left: 5px;
}

.search-icon {
  padding: 10px;
}
